<h1><a href="/">Comment</a></h1>

<form action="/comment/<%=@comment.id%>/edit">
 <input type="submit" value="Edit">
</form>


<form action="/comment/<%=@comment.id%>" method="post">
  <input type="hidden" name="_method" value="delete"/>
  <input type="submit" value="Delete">
</form>


<%= @comment.content %>